<form [formGroup]="form" action="">
  <app-email-input [formGroup]="form"></app-email-input>
  <app-text-input [formGroup]="form" [errorName]="'Full name'" [label]="'Full name'" [formControlNameInput]="'fullName'" [isRequired]="true"></app-text-input>
  <app-password-input [formGroup]="form" [formControlNameInput]="'password'"></app-password-input>
  <app-password-input [formGroup]="form" [formControlNameInput]="'confirmPassword'" [placeholder]="'Confirm Password'"></app-password-input>
  <app-country-select [formGroup]="form" [countries]="countries"></app-country-select>
  <app-text-input [formGroup]="form" [errorName]="'City'" [label]="'City'" [formControlNameInput]="'city'" [isRequired]="true"></app-text-input>
  <app-text-input [formGroup]="form" [errorName]="'Address'" [label]="'Address'" [formControlNameInput]="'address'" [isRequired]="true"></app-text-input>
  <app-text-input [pattern]="'^[0-9]{5}'" [formGroup]="form" [errorName]="'Zip code'" [label]="'Zip code'" [formControlNameInput]="'zipCode'" [isRequired]="true"></app-text-input>
  <div>
    <button (click)="onSubmit()" [disabled]="!form.valid" id="submit" mat-raised-button color="primary">Submit</button>
  </div>
</form>
