
.search-categories-container {
  margin-bottom: 30px;
  button {
    width: 100px;
    margin-right: 10px;
  }
}



.search-and-filter-container {
  margin-top: 30px;
  padding: 50px;
  border-radius: 20px;

  mat-form-field {
    width: 400px;
  }
}

.search-categories-button-active {

}

.search-main-buttons-container {
  margin-top: 30px;

  button {
    width: 100px;
    margin-right: 10px;
  }
}

.search-expanded {
  mat-checkbox {
    margin-right: 10px;
  }
}
