<mat-tab-group (selectedTabChange)="tabChange($event)">
  <mat-tab label="All">
    <ng-template [ngIf]="selectedTabIndex === 0">
      <app-user-search-form (onEventActivateEmitter)="updateFormSearchValue($event)"></app-user-search-form>
      <table  #myTable mat-table [dataSource]="users" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
          <th mat-header-cell *matHeaderCellDef> Users </th>
          <td mat-cell *matCellDef="let element"> {{element['email']}} - {{element['id']}} </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <ng-template [ngIf]="element === expandedElement">
                <app-user-update-form (onUpdateEmmiter)="onUpdate($event)" [countries]="countriesDtos" [userIntialState]="element" [style.width.%]="100"></app-user-update-form>
              </ng-template>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>

      <div class="pagination-container" style="height: 100px!important;" >
        <mat-paginator #paginator  (page)="getPaginatorData($event)" [pageSizeOptions]="[10, 1, 30, 50]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements"
                       [length]="numberOfUsers">
        </mat-paginator>
      </div>
    </ng-template>

  </mat-tab>
  <mat-tab label="Create">
    <ng-template [ngIf]="selectedTabIndex === 1">
      <app-user-create-form (submitCreateUserEmitter)="createUser($event)" [countries]="countriesDtos"></app-user-create-form>
    </ng-template>

  </mat-tab>
</mat-tab-group>
