<div style="width: 100%; display: flex; overflow: hidden">
  <form style="flex-grow: 1; width: 100%; display: flex; flex-direction: row" [formGroup]="form">
    <div style="margin-bottom: 20px;padding-left: 20px;" class="sub-container">
      <app-laptop-image-input-field [image]="image" (imageEmitter)="handleImage($event)"></app-laptop-image-input-field>
    </div>


    <div class="sub-container" style="margin-left: 40px">
      <app-text-input [formGroup]="form" [errorName]="'Laptop Name'" [label]="'Laptop Name'" [formControlNameInput]="'name'" [isRequired]="true"></app-text-input>
      <app-numberinput [minValue]="0" [formGroup]="form" [errorName]="'Price'" [label]="'Price'" [formControlNameInput]="'price'" [isRequired]="true"></app-numberinput>
      <app-numberinput [minValue]="0" [formGroup]="form" [errorName]="'Diagonal'" [label]="'Diagonal'" [formControlNameInput]="'diagonal'" [isRequired]="true"></app-numberinput>
      <app-numberinput pattern="^\d*$" [minValue]="0" [formGroup]="form" [errorName]="'Stock'" [label]="'stock'" [formControlNameInput]="'stock'" [isRequired]="true"></app-numberinput>
    </div>

    <div class="sub-container" style="margin-left: 40px">
      <app-genericselect [formControlNameInput]="'manufacturerId'" [formGroup]="form" [label]="'Manufacturer'" [selectDtos]="manufacturersSelectDtos"></app-genericselect>
      <app-genericselect [formControlNameInput]="'panelType'" [formGroup]="form" [label]="'Panel'" [selectDtos]="panelSelectDtos"></app-genericselect>
      <app-genericselect [formControlNameInput]="'ram'" [formGroup]="form" [label]="'Ram'" [selectDtos]="ramSelectDtos"></app-genericselect>
    </div>

    <div class="example-spacer"></div>

    <div style="margin-bottom: 20px; display: flex; flex-direction: column">
      <button (click)="onSubmit()" [disabled]="(!form.valid || !form.dirty) && (image === null || image === laptopInitialState.image)" class="submit" mat-raised-button color="accent">Update</button>
      <button (click)="onReset()" [disabled]="(!form.valid || !form.dirty) && (image === null || image === laptopInitialState.image)" class="submit" mat-raised-button color="primary">Reset</button>
      <button (click)="onDelete()" [disabled]="false" class="submit" mat-raised-button color="warn">Delete</button>
    </div>
  </form>
</div>
