<div [formGroup]=formGroup>
  <mat-form-field appearance="outline">
    <mat-label>{{placeholder}}</mat-label>
    <input [formControlName]=formControlNameInput matInput [type]="hide ? 'password' : 'text'" >
    <button mat-icon-button matSuffix (click)="toggleHide()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="this.formGroup.controls[formControlNameInput].hasError('required'); else elseLength">
      Password is <strong>required</strong>
    </mat-error>
    <ng-template #elseLength>
      <mat-error *ngIf="this.formGroup.controls[formControlNameInput].hasError('minlength')">
        Minimum length is <strong>{{minLength}} characters</strong>
      </mat-error>
    </ng-template>
    <mat-error *ngIf="this.formGroup.controls[formControlNameInput].hasError('passwordMismatch') && this.formGroup.controls[formControlNameInput].touched">
      Password's <strong>dont match</strong>
    </mat-error>
  </mat-form-field>
</div>
